/* Container */
.leave-table-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Card */
.leave-table-card {
    background: #d8a3d8;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Title */
.leave-table-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Table */
.leave-table {
    width: 100%;
    border-collapse: collapse;
}

/* Header */
.leave-table thead {
    background: #536200;
    color: white;
}

.leave-table th {
    padding: 12px;
    text-align: left;
}

/* Rows */
.leave-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* Hover */
.leave-table tbody tr:hover {
    background: #d7d7d7;
}

/* Buttons */
.approve-btn {
    background: #e2c327;
    color: white;
    border: none;
    padding: 6px 12px;
    margin-right: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.approve-btn:hover {
    background:  #f2d026;
}

.reject-btn {
    background: #780000;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.reject-btn:hover {
    background: #d70000;
}

/* No Data */
.no-data {
    text-align: center;
    padding: 15px;
    color: #888;
}